body{
    margin: 0px;
}

#B1{
    margin-left: 0px;
    margin-top: 0px;
    
    
}

#B2{
    margin-left: 0px;
    margin-top: 0px;
}

#B3{
    margin-left: 0px;
    margin-top: 0px;
}

#B4{
    margin-left: 1460px;
    margin-top: 0px;
}